<header>
  <nav class="navbar navbar-expand-lg header py-3" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand d-inline-flex align-items-center me-0" href="/">
        <img src="/img/umineco.png" alt="Logo" width="50" class="d-inline-block align-text-top me-3 umineco-brand-image">
        <span class="d-inline-flex flex-column">
          <span class=" navbar-brand-subtitle">沼津移住者コミュニティ</span>
          umineco
        <span>
      </a>

      <div class="d-none d-lg-block">
        <a href="{{ metadata.discord }}" class="btn btn-discord-brand discord-join-button shadow-sm">
          Discord に参加
        </a>
      </div>
    </div>
  </nav>
</header>
