---
layout: layouts/base.njk
---

{% include 'header.njk' %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="{{ 'col-lg-9' if narrow else 'col' }} content">
      {{ content | safe }}
    </div>
  </div>
</div>

{% include 'invitation.njk' %}
