---
title: 沼スラ#1 聖地移住・若者たちのホンネ
---

<div class="text-center mb-4">
  <h3>沼津スライドトークイベント Vol.1</h3>
  <h1 class="d-flex align-items-center justify-content-center flex-wrap">
    <span>聖地移住</span><span class="d-none d-sm-inline">・</span><span>若者たちのホンネ</span>
  </h1>
  <h2>特設ウェブサイト</h2>
</div>

<div class="row my-4 justify-content-center">
  <div class="col-md-8">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxlp9Y0y_qAGKjQCh72zbh9DkCkgYFV8dDPNaUlPaZCQSmrQ/viewform">
      <img src="{{ './form_link.png' | url }}" class="img-fluid" />
    </a>
  </div>
</div>


<div class="row my-4 justify-content-center">
  <div class="col-md-8">
    <section class="mb-4">
      <h2>イベント概要</h2>
      <div class="row">
        <div class="col-lg-8">
          <h3>ググっても出てこない、沼津ライフの本音、ここにあります。</h3>
          <p>登壇者がひとつのテーマについてスライド形式で発表するイベント「沼津スライドトークイベント」、初開催となる今回のテーマは「<strong>聖地移住</strong>」です。</p>
          <p>一般に「移住」と聴いてイメージするのは、子育てに伴う環境の変更や、定年後の終の棲家探し。しかし、沼津市が主催する移住相談会では、20〜30代の単身者も相談に来るなど、今「若者」が沼津への移住を真剣に考えています。</p>
          <p>しかし移住には、転職や住む環境の変化を伴うため、なかなか「移住したい」という気持ちからの一歩を踏み出すことができない方も多いというのが現状です。今回はそういった方たちが知りたい「ググっても出てこない沼津ライフの本音」を、移住経験者たちに率直に語ってもらいます。</p>
        </div>
        <aside class="col-lg-4 d-none d-lg-block text-center">
          <a href="https://drive.google.com/file/d/1mgGgGYMzRMriuUDs7yTf-8Ffcur8zwsK/view?usp=drive_link">
            <img src="{{ './flyer1.jpg' | url }}" class="img-fluid w-md-50" />
          </a>
          <small class="text-body-secondary">フライヤー紙面</small>
        </aside>
      </div>

      <h3>「移住したい」からその先へ、「雑談」で次の一歩をあと押し</h3>
      <p>またイベントは「聖地移住<span style="text-emphasis-style: dot;">雑談</span>会」と銘打ち、参加者の知りたいことや不安をとことん解消するため、スライド発表終了後に「雑談タイム」を設け、参加者が直接登壇者に質問をぶつけたり、悩みを相談することができる時間を設けています。</p>
      <p>またイベント終了後にも、「移住者コミュニティ」が主催する強みを活かし、チャットアプリ Discord を活用した、いつでも投稿できるオンラインの移住相談窓口による情報提供はもちろん、実際に移住した後の仲間づくりまで、移住を真剣に考える方々の次の具体的な行動や、移住後までトータルでサポートします。</p>
      <img src="{{ './sequence.png' | url }}" class="img-fluid" />
    </section>

    <section class="mb-4">
      <h2>登壇者情報</h2>
      <h3>「転勤」「転職」「リモートワーク」「新卒」「FIRE」…そして「失敗」も？</h3>
      <p>今回の登壇者は、それぞれ異なるバックグラウンドを持ちながらも、聖地・沼津に移住してきた総勢8名の移住経験者たちです。なぜ沼津に移住するに至ったのか、移住したあとに気づいた理想とのギャップなど、ホンネを語ります。</p>
      <p>様々なパターンの移住者が居るので、きっと移住したいあなたと似た境遇の人も見つけることができるでしょう。そしてその人の移住パターンを参考にし、次の一歩を踏み出しましょう！</p>

      <h3>登壇者一覧</h3>
      <ul class="list-unstyled d-flex justify-content-start flex-wrap" style="gap: 0.5rem 1rem;">
        <li>
          <img src="{{ './icons/aasaa.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>あーさー</span>
        </li>
        <li>
          <img src="{{ './icons/applepie.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>あっぷるπ</span>
        </li>
        <li>
          <img src="{{ './icons/ushi.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>丑</span>
        </li>
        <li>
          <img src="{{ './icons/oma.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>おま</span>
        </li>
        <li>
          <img src="{{ './icons/psycommu.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>サイコミュ</span>
        </li>
        <li>
          <img src="{{ './icons/chokotan.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>ちょこたん</span>
        </li>
        <li>
          <img src="{{ './icons/namizo.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>ナミ蔵</span>
        </li>
        <li>
          <img src="{{ './icons/pinchosu.jpg' | url }}" class="rounded-circle" style="max-width: 40px;">
          <span>ぴんちょす</span>
        </li>
      </ul>
      <p>※50音順・都合により変更される場合があります</p>
    </section>

    <section class="mb-4">
      <h2>日時・会場</h2>
      <dl>
        <dt>日時</dt>
        <dd>2025年3月30日(日) 13:00〜（開場12:30）</dd>
        <dt>会場</dt>
        <dd><a href="https://www.plazaverde.jp/">コンベンションぬまづ</a> 403 小会議室 （沼津駅北口・プラサヴェルデ内 4階）</dd>
        <dt>参加費</dt>
        <dd>
          無料（事前参加登録必須）<br/>
          イベント終了後に別会場にて懇親会も行いますが、こちらは参加自由で参加される方は実費を負担いただきます（1人5,000円程度）。
        </dd>
      </dl>
    </section>

    <section class="mb-4">
      <h2>主催団体について</h2>
      <h3>沼津移住者コミュニティ うみねこ</h3>
      <p>
        2023年6月に発足した、沼津の移住者を中心とする誰でも参加できる無料のコミュニティです。
        2025年2月現在の登録者数は133名。沼津市「<a href="https://www.city.numazu.shizuoka.jp/shisei/iju/osusumetai.htm">ぬまづ暮らしオススメ隊</a>」登録団体。
        普段は「Discord」というチャットアプリで、地域に関する情報交換を行うほか、月1回のリアル交流会「うみねこ会」の開催など、「移住するまで」よりも大事な「移住した後」を過ごす移住者に寄り添う活動を行っています。
      </p>
      <p>これまでの活動については <a href="https://umineco.org/">公式ウェブサイト</a> をご覧ください。</p>
    </section>

    <section class="mb-4">
      <h2>その他</h2>
      <h3>申込多数の場合について</h3>
      <p>参加申込者が当日使用する会場の定員に達した場合については、抽選とさせていただきます。抽選となった際は申し込み頂いた方に主催者からメールにてご連絡差し上げますので、メール文面にあります案内をご覧ください。</p>
      <h3>報道関係者の方へ</h3>
      <p>当日会場にて取材を希望される報道関係者の方は、お手数ですが事前に担当までお問い合わせください。</p>
      <h3>連絡先</h3>
      <dl>
        <dt>担当者</dt>
        <dd>神崎（カンザキ）</dd>
        <dt>メールアドレス</dt>
        <dd>contact[at]umineco.org<br><small>※ 上記の <code>[at]</code> は <code>@</code> に変換してください</small></dd>
        <dt>電話番号</dt>
        <dd>070-8530-6722</dd>
      </dl>
    </section>
  </div>
</div>

<div class="row my-4 justify-content-center">
  <div class="col-md-8">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxlp9Y0y_qAGKjQCh72zbh9DkCkgYFV8dDPNaUlPaZCQSmrQ/viewform">
      <img src="{{ './form_link.png' | url }}" class="img-fluid" />
    </a>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-6 mb-2">
    <img src="{{ './flyer1.jpg' | url }}" class="img-fluid" />
  </div>
  <div class="col-md-6 mb-2">
    <img src="{{ './flyer2.jpg' | url }}" class="img-fluid" />
  </div>
  <div class="col-12 text-center">
    <a href="https://drive.google.com/file/d/1mgGgGYMzRMriuUDs7yTf-8Ffcur8zwsK/view?usp=drive_link">
      <small>PDFファイルダウンロード(Googleドライブ)</small>
    </a>
  </div>
</div>
