---
layout: layouts/page.njk
title: うみねこのイベント情報
eleventyComputed:
  redirect: "{{ (collections.events | reverse | first).url }}"
meta:
  robots:
    - noindex
    - follow
---

<h2>{{ title }}</h2>

<a href="{{ (collections.events | reverse | first).url }}">最新のイベント情報はこちら</a>
