---
layout: layouts/base.njk
---

  <div class="jumbotron d-flex align-items-center flex-column">
    <div class="my-auto d-flex align-items-center flex-column">
      <h1 class="jumbotron-title d-flex align-items-center flex-column mb-5">
        <span class="fw-bold small">沼津移住者コミュニティ</span>
        <span class="display-2 fw-bold">umineco</span>
      </h1>
      <div class="umineco umineco-border mb-5" style="width: 250px"></div>
      <div>
        <div class="jumbotron-active-member d-inline-flex align-items-center py-2 px-4 my-3 shadow">
          <span class="online me-2"></span>
          <span class="member-count">
            <span class="member-count-loader">
              <span class="member-count-loader-dummy"></span>
              <span class="spinner-border spinner-border-sm text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </span>
            </span>
          </span>
        </div>
      </div>
      <div>
        <a href="{{ discord.invitationLink }}" class="btn btn-discord-brand discord-join-button btn-lg py-3 px-5 shadow">
          Discord に参加する
        </a>
      </div>
    </div>
  </div>

  <div class="section about">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12">
          <div class="section-header text-center mb-5">
            <h2 class="section-title fw-bold mb-3">
              <span>沼津移住者コミュニティ</span>
              <span><ruby>umineco<rp>(</rp><rt>うみねこ</rt><rp>)</rp></ruby> へようこそ</span>
            </h2>
            <p class="lead">うみねこは、沼津のことをもっと知りたい移住者のための Discord コミュニティです</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 role mb-5">
          <div class="role-header">
            <h3 class="fw-bold">地域情報交換</h3>
            <div class="role-icon">
              <img src="/img/icon/cached.svg" alt="">
            </div>
          </div>
          <div class="role-description px-md-5
          ">
            <p>沼津に関する地域の情報を交換・収集する場所を提供しています。お店の開店から、ラブライブ！まで、色々な出来事を取り上げています。</p>
          </div>
        </div>
        <div class="col-lg-4 role mb-5">
          <div class="role-header">
            <h3 class="fw-bold">困りごと相談</h3>
            <div class="role-icon">
              <img src="/img/icon/help.svg" alt="">
            </div>
          </div>
          <div class="role-description px-md-5">
            <p>地域生活で困っていることや、不安に感じていることを、他の住民に相談できる場もあります。あなたの問題を解決する手助けになるかもしれません。</p>
          </div>
        </div>
        <div class="col-lg-4 role mb-5">
          <div class="role-header">
            <h3 class="fw-bold">地域活動</h3>
            <div class="role-icon">
              <img src="/img/icon/handshake.svg" alt="">
            </div>
          </div>
          <div class="role-description px-md-5">
            <p>コミュニティはインターネット上だけではなく、リアルでの活動も積極的に行っています。同じことに興味のある人と一緒に街へ飛び出しましょう。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section invite" id="join">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-header text-center">
            <h2 class="fw-bold md-3">
              <span>コミュニティに</span><span>参加する</span>
            </h2>
            <p class="lead">移住者以外も大歓迎！ 地元民も、元住民も、これから移住を考えている人も！</p>
            <p>umineco は参加も退出も自由な「ゆるやかなコミュニティ」です。強制するものや参加費等は必要ありません。</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-5 col-xxl-4 col-lg-6 my-4">
          {% include "discord.njk" %}
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7">
          <ul class="small text-secondary">
            <li>
              参加には Discord アカウントの登録(無料)が必要です。利用の際は <a href="{{ discord.termLink }}">Discord の利用規約</a> を遵守してください。
            </li>
            <li>
              健全なコミュニティ運営のために、<a href="/policies/">独自のコミュニティポリシー</a>を制定しています。あらかじめ内容をご確認の上、参加をお願いします。
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section operator-info">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <dl>
            <dt>運営元</dt>
            <dd>
              <div>チームうみねこ</small></div>
              <div class="small">沼津市で活動する法人格を持たない任意団体です</div>
            </dd>
          </dl>
          <dl>
            <dt>問い合わせ先</dt>
            <dd>
              <div>contact[at]umineco.org</div>
              <div class="small">[at] を @ に変換してください</div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
