{# basic html5 template #}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hello</h1>
      </div>
    </div>
  </div>
</body>
</html>
