---
title: うみねこ2周年記念イベント特設ページ
---


<div class="text-center mb-5">
  <h1>
    うみねこ 2nd Anniversary Special Event
  </h1>
  <h3>うみねこ2周年!! KANPAI! ねこはく trippers ~僕らの定住hours~</h3>
  <h2>特設ページ</h2>
</div>

<div class="row my-4 justify-content-center">
  <div class="col-md-8">
    <div class="col-lg-10 mx-auto mb-5">
      <img src="{{ './2nd_anniv_kv.png' | url }}" class="img-fluid" alt="うみねこ2周年記念イベント キービジュアル" />
    </div>

    <section class="mb-4">
      <h3>イベント概要</h3>

      <p>おかげさまで、「沼津移住者コミュニティうみねこ」は、2025年6月9日に立ち上げから2周年を迎えます。</p>

      <p>2周年を迎えるにあたり、これまで我々の活動に参加・協力してくださったメンバーや沼津の皆様への感謝を伝える場として、記念パーティの開催が決定いたしました！</p>

      <p>うみねこのメンバーのかたはもちろん、地元の方や、移住希望者、うみねこに参加されていない方のご参加も歓迎いたしますので、ぜひお知り合いなどお誘い合わせの上ご参加ください。</p>
    </section>

    <div class="col-lg-8 mx-auto my-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScJwG7UPFhCNcDonbmfSNj3XTreXHU1wk0TO6VQYVy_24YkSA/viewform">
        <img src="{{ './form_link.png' | url }}" class="img-fluid" alt="参加申し込みフォーム" />
      </a>
    </div>

    <section class="mb-4">
      <h3>当日の催しについて</h3>

      <picture>
        <img src="{{ './waiwai.jpg' | url }}" class="img-fluid img-thumbnail" alt="ねこと白鳥" />
        <figcaption>昨年のイベントの様子</figcaption>
      </picture>

      <p>今回のイベントも昨年同様、沼津のバー「ねこと白鳥」様を貸し切りにて、簡単な立食形式のパーティを開催いたします。</p>

      <p>当日は会場にて参加者の皆様同士での交流を楽しんでいただくことをメインとしていますが、<b>うみねこオリジナルのカクテルの提供や、有志によるDJブースの設置や活動年表など、様々なお楽しみも用意してお待ちしております</b>。</p>

      <ul>
        <li><a href="{{ '/news/20240616/umineco_1st_anniversary_event.html' | url }}">うみねこ1周年記念イベントを開催しました(昨年の1周年のイベントの様子)</a></li>
      </ul>

    </section>

    <section class="mb-4">
      <h3>イベント概要</h3>

      <table class="table mb-3">
        <tr>
          <th>開催日</th>
          <td>2025年6月29日(日)</td>
        </tr>
        <tr>
          <th>時間</th>
          <td>
            19:00〜22:00 (予定)<br>
            途中入退場自由ですのでご都合のよい時間にお越しください
          </td>
        </tr>
        <tr>
          <th>場所</th>
          <td>
            <a href="https://bar.nekohaku.com/">喫茶＆BAR ねこと白鳥</a> 様 <br>
            〒410-0801 静岡県沼津市大手町5-7-5 つるかめ仲見世ビル B1F
          </td>
        </tr>
        <tr>
          <th>参加費(チケット)</th>
          <td>4,000円/1名 小学生以下無料<br />ドリンクチケット2枚つき(小学生以下の方にはドリンクチケットはございません)</td>
        </tr>
      </table>

      <h4>ドリンクチケットと飲食物の持ち込みについて</h4>

      <p>入場時にドリンクチケットを2枚お渡しします。会場のカウンターにて1枚につき1杯、ビールやカクテル、ソフトドリンクと交換できます。</p>

      <p>食べ物や追加の飲み物につきましては、イベント運営にていくつかご用意させていただきますが、<b>当日は会場への飲み物＆食べ物の持ち込みが自由となっておりますので、よろしければぜひみなさまのおすすめの品などをお持ち寄りいただければと思います</b>。</p>

      <h4>小学生以下の方について</h4>
      <p>小学生以下の方は参加費は無料です。ただしドリンクチケットはございませんので、飲み物は各自でご用意いただくか、会場内のフリードリンクをお楽しみください。</p>

    </section>

    <section class="mb-4">
      <h3>参加方法</h3>

      <p>参加希望の方は、以下のフォームからお申し込みください。会場の定員を超えた時点で受付終了とさせていただきますので、あらかじめご了承ください。</p>

        <div class="col-lg-8 mx-auto my-4">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScJwG7UPFhCNcDonbmfSNj3XTreXHU1wk0TO6VQYVy_24YkSA/viewform">
            <img src="{{ './form_link.png' | url }}" class="img-fluid" alt="参加申し込みフォーム" />
          </a>
        </div>
    </section>

    <section class="mb-4">
      <h3>「沼津移住者コミュニティ うみねこ」とは</h3>

      <p>2023年6月に発足した、沼津の移住者を中心とする誰でも参加できる無料のコミュニティ。 2025年5月現在の登録者数は160名。沼津市「ぬまづ暮らしオススメ隊」登録団体。</p>

      <p>普段は「Discord」というチャットアプリで、地域に関する情報交換を行うほか、月1回のリアル交流会「うみねこ会」の開催など、「移住するまで」よりも大事な「移住した後」を過ごす移住者に寄り添う活動を行っている。</p>

      <ul>
        <li>
          <a href="{{ '/news/20250330/numasura01-iju-presentation.html' | url }}">沼津スライドトークイベント Vol.1「聖地移住・若者たちのホンネ」を開催しました</a>
        </li>
        <li>
          <a href="{{ '/news/20241116/cleanup_week.html' | url }}">市内一斉クリーン週間に参加しました</a>
        </li>
        <li>
          <a href="{{ '/news/20240701/numazu_kanogawa_fireworks.html' | url }}">『沼津夏まつり・狩野川花火大会』にうみねこが協賛します</a>
        </li>
        <li>
          <a href="{{ '/news/20240720/yyy_nmz_flower_stand.html' | url }}">わいわいわいの公録イベント開催のお祝いとしてフラワースタンドをお贈りしました</a>
        </li>
      </ul>
    </section>


  </div>
</div>
